@keyframes flashRed {
	0% {
		background-color: var(--clr-red);
	}
	100% {
		opacity: 0;
	}
}
.flashRed {
	animation: flashRed 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes flashGreen {
	0% {
		background-color: var(--clr-green);
	}
}
.flashGreen {
	animation: flashGreen 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes flashWhite {
	0% {
		background-color: var(--clr-white);
		color: var(--clr-black);
	}
}
.flashWhite {
	animation: flashWhite 250ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@keyframes flashRed--2 {
	0% {
		background-color: var(--clr-red);
	}
}
.flashRed--2 {
	animation: flashRed--2 200ms ease-out forwards;
}
